<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataPath" value="\Data\Customer.csv"/>
    <add key="OutputFolder" value="\Letter Output\"/>
    <add key="SampleLetter" value="\Data\RenewalSample.txt"/>
  </appSettings>
</configuration>